.form_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form_input label {
  font-weight: bold;
  padding-bottom: 1em;
}

.form_input input {
  width: 15rem;
  border: none;
  border-radius: 12px;
  padding: 0.7em;
  background-color: rgb(158, 156, 156);
}
