
.infoGeral{
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


.Leaflet_container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 70vh;
  width: 100vw;
}
